body{
	background-image:url("file:///E:/Rimon%20Mobile/Internal%20Storage/DCIM/Camera/IMG_20200214_171833.jpg");
	background-repeat:no-repeat;
	background-position:right top;
	background-attachment:fixed;
}